# Identifiants Subakoua (local uniquement)
SUBAKOUA_USER=
SUBAKOUA_PASS=
SUBAKOUA_LOGIN_URL=https://login.arkhe.com/
SUBAKOUA_DASHBOARD_URL=https://subakoua.arkhe.com/companies

# Aiven MySQL (local uniquement)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL=1
